body {
    font-family: Sans-Serif;
    background-color: #eee;
}
h1, h2 {
    text-align: center;
    font-weight: thin;
    color: #333;
}
a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:active {
    color: red;
}
